/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */
/*
.header-container {
    border-bottom: 20px solid #e44d26;
}
*/

.main-container { margin-bottom:3em; }

/*.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}
*/

.footer-container {background: #f16529;}
/*.header-container,
.footer-container,*/
.main aside {
    /*background: #f16529;*/
    background: #E9E9E9;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 1em 0 0 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 7px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #999;
    border-radius: 10px;
    border: 0;
    font-size: 1em;	
    padding: 12px 20px 9px 20px;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
    background:#666;
}

nav a.selected {
    background:#F90;	
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    /*color: white;*/
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 5px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.error_msg {
	color:#F00;
}

header .title a,
header .title a:visited {
	color:#FF9900;
}

header .title a {
	text-decoration:none;
	text-shadow: rgba(0, 0, 0, 1) 0px 1px 0px;	
}

nav a:hover {
	text-decoration:none;
}

.footer-container {
	position:fixed;
	bottom:0;
	z-index:2500;
	width:100%;
}

.btn_link {
    border-radius: 10px;
    border: 0;
    font-size: 1em;	
    padding: 12px 20px 9px 20px;
    color:#FFF;
	background-color:#FF6600;
	cursor:pointer;
}

.hidden {
	display:none;
}

.error { color:#FF0000;}

#news_form_holder {
	margin-bottom:1em;
}

textarea {
    resize: none;
}

input[type="submit"],
input[type="reset"] {
	outline:none;
}

#signin_form input[type="text"],
#signin_form input[type="password"],
#create_program_news_form input[type="text"],
#create_program_news_form textarea,
#image_delete_form input[type="text"] {
	width:90%;
	border:2px solid #999;
	padding:10px 20px; 
	background:#E9E9E9;
	border-radius:15px;
	color:#000;	
	outline: none;
}

.browse { 
    border-radius: 10px;
    border: 0;
    font-size: 1em;
    padding: 12px 20px 9px 20px;
    line-height: 1em; 
    cursor: pointer; 
    color: #333;	
	background-color:#E9E9E9; 
}

.custom_btn {
    border-radius: 10px;
    border: 0;
    font-size: 1em;
    padding: 12px 20px 9px 20px;
    line-height: 1em; 
    cursor: pointer; 
    color: #FFF;
    background:#333; 
}

#news_table tbody img {
	width:auto;
	height:auto;
	max-height:175px;
	min-height:50px;
}	

/*
Browse Tool
*/
#browse_tool {
	height:200px;
	overflow:auto;
	border:1px solid #666;
	padding:5px;
}
#browse_tool ul
#browse_tool ul li {
	list-style-type:none;
}

#browse_tool ul {
	margin:0;
	padding:0;
}

#browse_tool ul li {
	display:inline-block;
	padding:4px;
	border:1px solid #AAA;
	background-color:#E9E9E9;
	cursor:pointer;
	margin:0 3px 3px 0;
}

#browse_tool ul li:hover { background-color:#b3d4fc; }
#browse_tool ul li:hover .action_holder { display:block; }
#browse_tool ul li.selected { background-color:#FF9900; }
#browse_tool ul li img {
	width:150px;
	height:auto;
	max-height:150px;
	min-height:50px;
}

.action_holder {
	position:absolute;
	background-color:#FF0000;
	padding:2px 6px;
	display:none;
}

.action_holder a {
	color:white;
	text-decoration:none;
}

.action a { 
	padding:2px 4px;
	color:white;
	text-decoration:none;
}
.show { background-color: #009900; }
.edit { background-color: #FFCC00; }
.delete { background-color: #FF0000; }


table.tablesorter {
	border: 1px solid #AAA;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: .825em;
	width: 100%;
	text-align: left;	
}

table.tablesorter th,
table.tablesorter td {
	border: 1px solid #AAA;	
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e9e9e9;
	border: 1px solid #AAA;
	font-size: 8pt;
	padding: 4px;
}

table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {   
   header .title {
   text-align:center;
   }
   
}

@media only screen and (min-width: 480px) {
	
   header .title {
   text-align:center;
   }	

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 10px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    /*.header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }
	*/
/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        /*float: left;*/
        width: 57%;
        margin:0 auto;
    }
	/*
    .main aside {
        float: right;
        width: 28%;
    }
    */
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}